extends layout.pug 

block content 
    div.container 
        h1 Make a reservation 

        if error 
            p.error No field should be empty

        if success 
            p.success Reservation is created!
        
        form.form(action="/create" method='POST')
            label Full name  
            input.input(type="text" name='full_name')

            label Phone number 
            input.input(type="number" name="phone_number")

            label Table number 
            input.input(type="number", name="table_number")

            label.date Date
            input.input(type="text", name="datetime")
            
            label Additional Information 
            textarea.input(type="text" name="information")

            button.btn Make a reservation