extends layout.pug 

block content 
    div.container 
        h1.intro-msg This app enables restaurant owners to create, update or delete reservations made by clients.
        a.featured(href='/create') Make a reservation
