doctype html
html(lang="en")
    head
        title Restaraunt Reservation App
        link(rel="stylesheet", href="/static/styles.css")
    body 
        header.navbar
            h1  
                a(href='/') Restaurant Reservation App 

            nav.nav    
                a(href='/bookings') All bookings 
                a(href='/acrhive') Archive 

    block content 