doctype html
html(lang="en")
    head
        title Yet-to-be-named App
        link(rel="stylesheet", href="/static/styles.css")
    body 
        header.navbar
            h1  
                a(href='/') App

            nav.nav    
                a(href='/notes') All notes 
                a(href='/acrhive') Archive 

    block content 