@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@300&display=swap');

:root {
    font-size: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alexandria', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #610f87;
}

.navbar {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px dotted #ccc;
    padding: 10px;
}

.nav a {
    display: inline-block;
    padding: 10px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 1px;
}

.intro-msg {
    padding: 100px 0;
    font-size: 2rem;
    max-width: 60%;
}

.featured {
    display: inline-block;
    padding: 10px 20px;
    background-color: #cf3652;
    color: #fff;
}

/* create page styles */
.form {
    max-width: 60%;
}

.input {
    width: 100%;
    display: block;
    padding: 10px;
    font-size: 1.3rem;
    font-family: inherit;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    background: #cf3652;
    color: #fff;
    font-size: 1.3rem;
    border: none;
    padding: 10px 20px;
    font-family: inherit;
}

/* note list page styles */
.booking-wrapper {
    max-width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.booking {
    font-size: 1.3rem;
}

.delete {
    display: inline-block;
    padding: 5px 10px;
    background-color: #cf3652;
    color: #fff;
}

.error {
    display: inline-block;
    padding: 10px;
    border: 1px solid red;
    font-size: 1.2rem;
    color: red;
}

.success {
    display: inline-block;
    padding: 7px;
    border: 1px solid #610f87;
    font-size: 1.2rem;
    color: #610f87;
}

.update {
    display: inline-block;
    padding: 5px 10px;
    background-color: #cf3652;
    color: #fff;
}
